*{
	margin:0px;
	padding:0px;
}
body {
	font-family:Arial, Helvetica, sans-serif;
	color:#FFF;
	font-size:12px;
	background-color:#68DC77;
}
.cabecalho{
	width:980px;         
	height:262px;
	margin:auto;
	border-radius: 4px;
}


.logo{
	width:410px;
	height:220px;
	float:left;
}

.banner { 
	display: block;
    width:570px;
	height:220px;
	margin: auto;
	position: relative;
	float:left;
}

.menu {
	width:490px;
	height:40px;
	padding-top:10px;
	background-color: black;
	float:left;
	border-top-left-radius: 6px;
}
.social {
	width:490px;
	height:40px;
	padding-top:10px;
	background-color: black;
	float:right;
	border-top-right-radius: 6px;
}
.menu ul{
	list-style: none;
	text-decoration:none;
	font-size:16px;
	padding-left:15px;
	color:#EFFBFB;
}
.social ul{
	list-style: none;
}
.menu li{
	display: inline-block;
}
.social li{
	display: inline-block;
}
.menu a{
	text-decoration: none;
	color: #E9F1F2;
	width: 70px;
	height: 25px;
	display: block;
	padding: 4px;
	font-size: 15px;
	margin-top: -3px;
	height: 25px;
	text-align: center;
}
.social a{
	text-decoration: none;
	display: block;
	margin-left: 50px;
	margin-top: -5px;
}
.menu a:hover {
	background:#ED3F3C;
	transition: 0.4s;
	border-radius: 10px;
}
#icn{
	height: 95%;
	width: 50px;

}
.social img:hover {
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -o-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
}
/* Fim do Cabeçalho ------------------------------------ */

.conteudoCadastro { 
	width:980px;
	height:900px;
	background-color:#F8DFC6;
	color:#101010;
	margin:auto;
	padding:1px;
	margin-top: 8px;
}
.conteudoCadastro h1{
	color:#971C20;
	padding-left:15px;
	padding-top:20px;
	text-align: center;
}
.conteudoCadastro p{
	padding-left:15px;
	padding-top:10px;
	font-size:16px;
	text-align:justify;
	text-align: center;
}


.tudo{
	width: 95%;
	height: 91%;
	margin: auto;
	background: rgba(0,0,0,0.8);
	padding: 10px 20px;
	box-sizing: border-box;
	margin-top: 20px;
	border-radius: 2px;
}
.formulario{
	width: 850px;
	height: 35%;
	margin: auto;
	background: rgba(0,0,0,0.8);
	padding: 5px 10px;
	box-sizing: border-box;
	margin-top: 10px;
	border-radius: 15px;
}
.formulario form{
	margin-left: 170px;
	color: white;
}
input{
	margin-top: 10px;
	color: black;
	width: 50%;
	margin-bottom: 5px;
	padding: 7px;
	box-sizing: border-box;
	border:none;
	border-radius: 6px;
	margin-left: 130px;
}
.regime{
	border-radius:6px;
	width: 250px;
	height: 30px;
}
.enviar{
	background: #68DC77;
	color:#971C20;
	border-radius:6px;
	width: 120px;
	height: 30px;
	margin-left: 40px;
}
.enviar:hover{
	cursor: pointer;
	background:#0B610B;
	transition-duration: 0.2s;
}

.tabela{
	width: 850px;
	height: 40%;
	margin: auto;
	background: rgba(0,0,0,0.8);
	padding: 10px 20px;
	box-sizing: border-box;
	margin-top: 10px;
	border-radius: 15px;
}
.tabela table {
  width: 100%;
  border: 2px solid #666;
  margin-top: 20px;
  text-align: center;
}
.tabela thead th{
	text-align: center;
	background-color: #4B2121;
	color: white;
}
#imc{
	background-color: #68DC77;
}
.tabela thead {
  background: #ccc url(https://www.devfuria.com.br/html-css/tabelas/bar.gif) repeat-x left center;
  border-top: 1px solid #a5a5a5;
  border-bottom: 1px solid #a5a5a5;
}
.tabela tr:hover {
  background-color:#3d80df;
  color: #fff;
}
.tabela thead tr:hover {
  background-color: #BA9B9B;
  color: red;
}

.tabela th {
  font-weight: normal;
  text-align: left;
}
.tabela th, td {
  padding: 0.1em 1em;
}

/* fim do corpo ---------------------------------- */
.rodape{
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	text-align: center;
	width:965px;
	height:200px;
	background-color: black;
	padding-top:70px;
	padding-left:15px;
	margin:auto;
}

.socialF {
	width:50%;
	height:40px;
	padding-top:10px;
	background-color: black;
	border-top-right-radius: 6px;
	margin-left: 237px;
}
.socialF img:hover {
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -o-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
}
.socialF ul{
	list-style: none;
}
.socialF li{
	display: inline-block;
}