/*Estilo da Pasta Cardapio*/

.conteudoCardapio { 
	width:980px;
	height:1250px;
	background-color:#F8DFC6;
	color:#101010;
	margin:auto;
}
.conteudoCardapio h1{
	color:#971C20;
	padding-left:15px;
	padding-top:10px;
}
.conteudoCardapio p{
	padding-left:15px;
	padding-top:10px;
	font-size:16px;
	text-align: justify;
}