/*Estilo da Pasta Contacto*/

.conteudoContacto { 
	width:980px;
	height:1300px;
	background-color:#F8DFC6;
	color:#101010;
	margin:auto;
}
.conteudoContacto p{
	color: green;
	padding-left:15px;
	padding-top:10px;
	font-size:16px;
	text-align:center;
}
.conteudoContacto h1{
	color:#971C20;
	padding-left:15px;
	padding-top:30px;
	text-align: center;
}
.email{
	width: 850px;
	margin: auto;
	background: rgba(0,0,0,0.8);
	padding: 10px 20px;
	box-sizing: border-box;
	margin-top: 10px;
	border-radius: 15px;
}
input, textarea{
	width: 100%;
	margin-bottom: 20px;
	padding: 7px;
	box-sizing: border-box;
	border:none;
	border-radius: 6px;
}
textarea{
	min-height: 100px;
	max-height: 200px;
	max-width: 100%;
}
#botao{
	background: #68DC77;
	color: #971C20;
	padding: 20px;
	border-radius: 15px;
}
#botao:hover{
	cursor: pointer;
	background:#0B610B;
	transition-duration: 0.2s;
}

.mapa{
	width: 850px;
	height: 650px;
	margin: auto;
	background: rgba(0,0,0,0.8);
	padding: 10px 20px;
	box-sizing: border-box;
	margin-top: 30px;
	border-radius: 15px;
}
.positivo4{
	margin-left: 700px;
	margin-top: 10px;	
}

.positivo4 :hover{
	cursor: pointer;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);	
}