*{
	margin:0px;
	padding:0px;
}
body {
	font-family:Arial, Helvetica, sans-serif;
	color:#FFF;
	font-size:12px;
	background-color:#68DC77;
}

.cabecalho{
	width:980px;         
	height:262px;
	margin:auto;
}
.logo{
	width:410px;
	height:220px;
	float:left;
}
.banner { 
    width:570px;
	height:220px;
	float:left;
}
.menu {
	width:980px;
	height:32px;
	padding-top:10px;
	background-color: black;
	float:left;
}
.menu ul{
	list-style: none;
	text-decoration:none;
	font-size:16px;
	padding-left:15px;
	color:#EFFBFB;
}
.menu li{
	display: inline-block;
}
.menu a{
	text-decoration: none;
	color: #E9F1F2;
	width: 70px;
	height: 25px;
	display: block;
	padding: 2px;
	font-size: 15px;
}
.menu a:hover {
	background:#ED3F3C;
	transition: 0.5s;
}

/* Fim do Cabeçalho ------------------------------------ */

.conteudo { 
	width:980px;
	height:1250px;
	background-color:#F8DFC6;
	color:#101010;
	margin:auto;
}
.conteudo h1{
	color:#971C20;
	padding-left:15px;
	padding-top:10px;
}
.conteudo p{
	padding-left:15px;
	padding-top:10px;
	font-size:16px;
	text-align: justify;
}
.texto{
	width:650px;
	height:auto; 
	float:left;
}
.foto{
	width:330px;
	height:auto;
	float:left;
}

.foto img{
	padding:25px;
}

/* fim do corpo ---------------------------------- */
.rodape{
	text-align: center;
	width:965px;
	height:28px;
	background-color: black;
	padding-top:70px;
	padding-left:15px;
	margin:auto;
}