/*Estilo da Pasta Paciente*/
.conteudoPaciente { 
	width:980px;
	height:1250px;
	background-color:#F8DFC6;
	color:#101010;
	margin:auto;
}
.conteudoPaciente h1{
	color:#971C20;
	padding-left:15px;
	padding-top:10px;
}
.conteudoPaciente p{
	padding-left:15px;
	padding-top:10px;
	font-size:16px;
	text-align: justify;
}